.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
Data/
Scripts/arc/
arc/
Outputs/
labeled_dataset.csv
Scripts/.ipynb_checkpoints/
Model-Outputs/
*.csv
Scripts-Rendered/
Scripts/.posit/

# BERT-Finetuning/arc/
# BERTopic/arc/

# **/files/
# *.log
# *.json
# *.wandb
**/cache_dir/
**/final_model/
**/runs/
**/wandb/
**/outputs*/


**/*.quarto_ipynb
.quarto/
.quarto/
/.quarto/
